<a href="https://colab.research.google.com/github/Ruvindya/Machine-Learning/blob/main/create_own_dataset_using_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Creating your own dataset using Pandas data frame

In [10]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, accuracy_score

In [2]:
data = {
    'Earned Credit': [78, 75, 69, 71, 68, 73, 69, 72, 74, 69, 61, 69, 71, 68, 77, 61, 58, 65, 54, 59, 62, 60 ,55 ,55, 57 ,67, 66, 58, 65 ,66, 64, 62, 66, 66, 68, 65, 67, 58, 59, 69],
    'GPA': [4.0, 3.9, 3.3, 3.7, 3.9, 3.7, 2.3, 3.3, 3.3, 1.7, 2.7, 3.7, 3.7, 3.3, 3.3, 3.0, 2.7, 3.7, 2.7, 2.3, 3.3, 2.0, 2.3, 2.7, 3.0, 3.3, 3.7, 2.3, 3.7, 3.3, 3.0, 2.7, 4.0, 3.3, 3.3, 2.3, 2.7, 3.3, 1.7, 3.7],
    'Experience': [1, 4, 3, 5, 4, 6, 1, 4, 5, 1, 3, 5, 6, 4, 3, 1, 4, 6, 2, 3, 2, 1, 4, 1, 2, 6, 4, 2, 6, 5, 1, 2, 4, 6, 5, 1, 2, 1, 4, 5],
    'Selection': [1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1]
    }
df = pd.DataFrame(data)

In [4]:
df.head(10)

   Earned Credit  GPA  Experience  Selection
0             78  4.0           1          1
1             75  3.9           4          1
2             69  3.3           3          0
3             71  3.7           5          1
4             68  3.9           4          0
5             73  3.7           6          1
6             69  2.3           1          0
7             72  3.3           4          1
8             74  3.3           5          1
9             69  1.7           1          0

In [5]:
#Separate the target values from the features
X = df.drop('Selection', axis=1)
y = df['Selection']

In [7]:
#Split the data into training (75%) and test (25%)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [9]:
#Build a logistic regression model on the training data and test it on the test data
logreg = LogisticRegression()
logreg.fit(X_train, y_train)
y_pred = logreg.predict(X_test)

In [11]:
#Draw the confusion matrix between actual values and predicted values
confusion_matrix_df = pd.DataFrame(confusion_matrix(y_test, y_pred), columns=['Predicted 0', 'Predicted 1'], index=['Actual 0', 'Actual 1'])
print(confusion_matrix_df)

          Predicted 0  Predicted 1
Actual 0            6            1
Actual 1            0            3

In [12]:
#Find out the accuracy of the model
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy}")

Accuracy: 0.9