<a href="https://colab.research.google.com/github/Ruvindya/Machine-Learning/blob/main/SVM_for_classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

LAB04 2019E117

In [173]:
import pandas as pd
import numpy as np
from sklearn import svm
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import accuracy_score

1. You are requested to use HCV dataset directly from UCI data repository. However, you can use any classification dataset for this purpose

In [174]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/00571/hcvdat0.csv'
data = pd.read_csv(url,na_values=['NA'])

In [175]:
data.head(10)

,Unnamed: 0,Category,Age,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT
0,1,0=Blood Donor,32,m,38.5,52.5,7.7,22.1,7.5,6.93,3.23,106.0,12.1,69.0
1,2,0=Blood Donor,32,m,38.5,70.3,18.0,24.7,3.9,11.17,4.80,74.0,15.6,76.5
2,3,0=Blood Donor,32,m,46.9,74.7,36.2,52.6,6.1,8.84,5.20,86.0,33.2,79.3
3,4,0=Blood Donor,32,m,43.2,52.0,30.6,22.6,18.9,7.33,4.74,80.0,33.8,75.7
4,5,0=Blood Donor,32,m,39.2,74.1,32.6,24.8,9.6,9.15,4.32,76.0,29.9,68.7
5,6,0=Blood Donor,32,m,41.6,43.3,18.5,19.7,12.3,9.92,6.05,111.0,91.0,74.0
6,7,0=Blood Donor,32,m,46.3,41.3,17.5,17.8,8.5,7.01,4.79,70.0,16.9,74.5
7,8,0=Blood Donor,32,m,42.2,41.9,35.8,31.1,16.1,5.82,4.60,109.0,21.5,67.1
8,9,0=Blood Donor,32,m,50.9,65.5,23.2,21.2,6.9,8.69,4.10,83.0,13.7,71.3
9,10,0=Blood Donor,32,m,42.4,86.3,20.3,20.0,35.2,5.46,4.45,81.0,15.9,69.9

2. Prepare your dataset for learning

In [176]:
data = data.drop('Unnamed: 0',axis=1)

In [177]:
data.head(10)

,Category,Age,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT
0,0=Blood Donor,32,m,38.5,52.5,7.7,22.1,7.5,6.93,3.23,106.0,12.1,69.0
1,0=Blood Donor,32,m,38.5,70.3,18.0,24.7,3.9,11.17,4.80,74.0,15.6,76.5
2,0=Blood Donor,32,m,46.9,74.7,36.2,52.6,6.1,8.84,5.20,86.0,33.2,79.3
3,0=Blood Donor,32,m,43.2,52.0,30.6,22.6,18.9,7.33,4.74,80.0,33.8,75.7
4,0=Blood Donor,32,m,39.2,74.1,32.6,24.8,9.6,9.15,4.32,76.0,29.9,68.7
5,0=Blood Donor,32,m,41.6,43.3,18.5,19.7,12.3,9.92,6.05,111.0,91.0,74.0
6,0=Blood Donor,32,m,46.3,41.3,17.5,17.8,8.5,7.01,4.79,70.0,16.9,74.5
7,0=Blood Donor,32,m,42.2,41.9,35.8,31.1,16.1,5.82,4.60,109.0,21.5,67.1
8,0=Blood Donor,32,m,50.9,65.5,23.2,21.2,6.9,8.69,4.10,83.0,13.7,71.3
9,0=Blood Donor,32,m,42.4,86.3,20.3,20.0,35.2,5.46,4.45,81.0,15.9,69.9

In [178]:
print("Column names:" )
data.columns

Column names:

Index(['Category', 'Age', 'Sex', 'ALB', 'ALP', 'ALT', 'AST', 'BIL', 'CHE',
       'CHOL', 'CREA', 'GGT', 'PROT'],
      dtype='object')

In [179]:
print("Data types: ")
data.dtypes

Data types:

Category     object
Age           int64
Sex          object
ALB         float64
ALP         float64
ALT         float64
AST         float64
BIL         float64
CHE         float64
CHOL        float64
CREA        float64
GGT         float64
PROT        float64
dtype: object

In [180]:
#For checking missing values
print("Missing values:\n")
data.isnull().sum()

Missing values:

Category     0
Age          0
Sex          0
ALB          1
ALP         18
ALT          1
AST          0
BIL          0
CHE          0
CHOL        10
CREA         0
GGT          0
PROT         1
dtype: int64

In [181]:
# Using DataFrame.mean() method to get column average
data["ALP"].mean()

68.28391959798995

In [182]:
data["ALT"].mean()

28.450814332247557

In [183]:
data["ALB"].mean()

41.62019543973941

In [184]:
data["CHOL"].mean()

5.368099173553719

In [185]:
data["PROT"].mean()

72.0441368078176

In [186]:
data["ALP"]=data["ALP"].fillna(data["ALP"].mean())
data["ALT"]=data["ALT"].fillna(data["ALT"].mean())
data["ALB"]=data["ALB"].fillna(data["ALB"].mean())
data["CHOL"]=data["CHOL"].fillna(data["CHOL"].mean())
data["PROT"]=data["PROT"].fillna(data["PROT"].mean())

In [187]:
data.head()

,Category,Age,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT
0,0=Blood Donor,32,m,38.5,52.5,7.7,22.1,7.5,6.93,3.23,106.0,12.1,69.0
1,0=Blood Donor,32,m,38.5,70.3,18.0,24.7,3.9,11.17,4.80,74.0,15.6,76.5
2,0=Blood Donor,32,m,46.9,74.7,36.2,52.6,6.1,8.84,5.20,86.0,33.2,79.3
3,0=Blood Donor,32,m,43.2,52.0,30.6,22.6,18.9,7.33,4.74,80.0,33.8,75.7
4,0=Blood Donor,32,m,39.2,74.1,32.6,24.8,9.6,9.15,4.32,76.0,29.9,68.7

In [188]:
#For checking missing values
print("Missing values:\n")
data.isnull().sum()

Missing values:

Category    0
Age         0
Sex         0
ALB         0
ALP         0
ALT         0
AST         0
BIL         0
CHE         0
CHOL        0
CREA        0
GGT         0
PROT        0
dtype: int64

In [189]:
#checking what are the unique values in the 'category' column
data['Category'].unique()

array(['0=Blood Donor', '0s=suspect Blood Donor', '1=Hepatitis',
       '2=Fibrosis', '3=Cirrhosis'], dtype=object)

In [190]:
#checking what are the unique values in the 'Sex' column
data['Sex'].unique()

array(['m', 'f'], dtype=object)

In [191]:
data['Sex'].replace(['f', 'm'], [0, 1], inplace=True)

In [192]:
data['Category'].replace(['0=Blood Donor', '0s=suspect Blood Donor','1=Hepatitis','2=Fibrosis','3=Cirrhosis'], [0,1,2,3,4], inplace=True)

First, Split your dataset into training set and test set

In [193]:
# Split your dataset into features and target
X = data.drop('Category',axis=1)
y = data['Category']

# Split the features and target into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

Build SVM using following kernels and measure the performance of your model.
(a) Linear Kernel
(b) Polynomial Kernel
(c) RBF kernel

In [196]:
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

clf = SVC(kernel="linear")

clf.fit(X, y)

pred = clf.predict(X)

print("Accuracy: ",accuracy_score(pred, y))

Accuracy:  0.967479674796748

In [197]:
clf = SVC(kernel="poly")

clf.fit(X, y)

pred = clf.predict(X)

print("Accuracy: ",accuracy_score(pred, y))

Accuracy:  0.9495934959349593

In [198]:
def RBF(X, gamma):

    # Free parameter gamma
    if gamma == None:
        gamma = 1.0/X.shape[1]

    # RBF kernel Equation
    K = np.exp(-gamma * np.sum((X - X[:,np.newaxis])**2, axis = -1))

    return K

In [202]:
from sklearn.kernel_approximation import RBFSampler
# Create the RBF kernel
rbf_kernel = RBFSampler(gamma=1.0)
clf = SVC(kernel="linear")

clf.fit(X, y)

pred = clf.predict(X)

print("Accuracy: ",accuracy_score(pred, y))

Accuracy:  0.967479674796748

In [194]:
kernels = ['linear', 'poly', 'rbf']
models = []

for kernel in kernels:
    # Initialize SVM classifier for each kernel
    clf = svm.SVC(kernel=kernel)
    models.append(clf)

    # Train SVM model
    clf.fit(X_train, y_train)

    # Predict the labels for test set
    y_pred = clf.predict(X_test)

    # Evaluate the model performance
    accuracy = accuracy_score(y_test, y_pred)
    print(f"Accuracy with {kernel} kernel: {accuracy}")

Accuracy with linear kernel: 0.9090909090909091
Accuracy with poly kernel: 0.9155844155844156
Accuracy with rbf kernel: 0.8961038961038961

4. Now, do the same exercise using 10-fold and 5-fold cross validation and interpret your result in the proper way.

In [195]:
num_folds = 10
scoring = 'accuracy'
results = []

for model in models:

    cv_scores = cross_val_score(model, X_train, y_train, cv=num_folds, scoring=scoring)

    results.append(cv_scores)

    print(f"Average accuracy with {model.kernel} kernel using {num_folds}-fold cross-validation: {np.mean(cv_scores)}")

/usr/local/lib/python3.10/dist-packages/sklearn/model_selection/_split.py:700: UserWarning: The least populated class in y has only 6 members, which is less than n_splits=10.
  warnings.warn(

Average accuracy with linear kernel using 10-fold cross-validation: 0.930527289546716
Average accuracy with poly kernel using 10-fold cross-validation: 0.9089731729879741

/usr/local/lib/python3.10/dist-packages/sklearn/model_selection/_split.py:700: UserWarning: The least populated class in y has only 6 members, which is less than n_splits=10.
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/sklearn/model_selection/_split.py:700: UserWarning: The least populated class in y has only 6 members, which is less than n_splits=10.
  warnings.warn(

Average accuracy with rbf kernel using 10-fold cross-validation: 0.9132747456059203